name: Deploy with Docker Compose

on:
  push:
    branches: [main]
  workflow_dispatch:
env:
  REGISTRY: docker.io
  IMAGE_NAME: joseco/agri-yura

jobs:
  build-and-push:
    runs-on: [self-hosted]
    permissions:
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login in to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Define TAG
      run: echo "TAG=${{ github.run_number }}.${{ github.ref_name }}" >> $GITHUB_ENV

    - name: Build and Push Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ env.IMAGE_NAME }}:${{ env.TAG }}

  deploy:
    runs-on: [self-hosted]
    needs: build-and-push
    steps:
    - name: Stop previous services
      run: docker compose down -v || true

    - name: Start new version
      run: docker compose -f docker-compose.yml up -d

    - name: Verify landing page
      run: curl -H https://yuravision.tech